extends layout

block content
    a(href="http://localhost:3000/projectlist") See All Projects
    h1= title
    form#formAddProject(name="adduser",method="post",action="/addproject")
        input#inputProjectName(type="text", placeholder="name", name="name")
        br
        input#inputProjectStatus(type="text", placeholder="status", name="status")
        br
        textarea#inputProjectReference(type="text", placeholder="reference", name="reference")
        br
        button#btnSubmit(type="submit") submit
