extends layout

block content
  
    h1= title
    form#formAddProject(name="adduser",method="post",action="/addproject")
        input#inputProjectName(type="text", placeholder="Name", name="name")
        br
        input#inputProjectUrl(type="text", placeholder="URL", name="url")
        br
        input#inputProjectStatus(type="text", placeholder="Status", name="status")
        br
        textarea#inputProjectReference(type="text", placeholder="Reference", name="reference")
        br
        input#inputProjectTags(type="text", placeholder="Tags", name="tags")
        br
        button#btnSubmit(type="submit") submit
