extends layout

block content

    // Wrapper
    #wrapper

        // Project LIST
        h3 List
        #pList
            table.table
                thead
                    th Action
                    th Project Name
                    th Status
                tbody
        // /project LIST

        // Project INFO
        #projectInfo
            h3 Project Info
            p
                strong Name:
                |  <span id='projectInfoName'></span>
                br
                strong Status:
                |  <span id='projectInfoStatus'></span>
                br
                strong URL:
                |  <span readonly id='projectInfoUrl'></span>
                br
                strong Reference:
                |  <textarea readonly id='projectInfoReference'></textarea>
                br
                strong URL:
                |  <span readonly id='projectInfoTags'></span>

        // /Project INFO

        // Update PROJECT

        #updateProject
            h3 Update Project
            fieldset
                label Name:
                input#editinputProjectName(type='text', placeholder='Name')
                br
                label URL:
                input#editinputProjectUrl(type='text', placeholder='URL')
                br
                label Status:
                input#editinputProjectStatus(type='text', placeholder='Status')
                br
                label Reference:
                textarea#editinputProjectReference(type='text', placeholder='Reference')
                br
                label Tags:
                input#editinputProjectTags(type='text', placeholder='Tags')
                br

                button#btnUpdateProject Update Project
        // /Update PROJECT

    // /WRAPPER
