extends layout

block content

    // Wrapper
    #wrapper

        // Project LIST
        h3 List
        #pList
            table.table
                thead
                    th Action
                    th Project Name
                    th Status
                tbody
        // /project LIST

        // Project INFO
        #projectInfo
            h3 Project Info
            p
                strong Title:
                |  <span id='projectInfoName'></span>
                br
                strong Status:
                |  <span id='projectInfoStatus'></span>
                br
                strong Purpose:
                |  <span id='projectInfoPurpose'></span>
                br
                strong Desired Outcome:
                |  <span id='projectInfoOutcome'></span>
                br
                strong State:
                |  <span id='projectInfoState'></span>
                br
                strong URL:
                |  <span readonly id='projectInfoUrl'></span>
                br
                strong Brainstorming:
                |  <textarea readonly id='projectInfoBrainstorming'></textarea>
                br
                strong Reference:
                |  <textarea readonly id='projectInfoReference'></textarea>
                br
                strong log:
                |  <div readonly id='projectInfoLogs'></div>

        // /Project INFO

        // Update PROJECT

        #updateProject
            h3 Update Project
            fieldset
                label Title:
                input#editinputProjectName(type='text', placeholder='Title')
                br
                label URL:
                input#editinputProjectUrl(type='text', placeholder='URL')
                br
                label Purpose:
                input#editinputProjectPurpose(type='text', placeholder='Purpose')
                br
                label Desired Outcome:
                input#editinputProjectOutcome(type='text', placeholder='Desired Outcome')
                br
                label State:
                select#editinputProjectState(value='new')
                  option(value='new') New
                  option(value='active') Active
                  option(value='waiting') Waiting
                  option(value='completed') Completed
                br
                label Status:
                input#editinputProjectStatus(type='text', placeholder='Status')
                br
                
                label Brainstorming:
                textarea#editinputProjectBrainstorming(type='text', placeholder='Brainstorming')
                br
                label Reference:
                textarea#editinputProjectReference(type='text', placeholder='Reference')
                br
                label Tags:
                input#editinputProjectTags(type='text', placeholder='Tags')
                br
                label Log:
                input#editinputProjectLog(type='text', placeholder='Logging Item')
                br
                label Archive:
                input#editinputProjectArchive.updateInput--widthAuto(type='checkbox')
                br
                br

                button#btnUpdateProject Update Project
        // /Update PROJECT
        
    // /WRAPPER
